[
  {server, [
    {cacertfile, "{{ rabbitmq_tls_cabundle }}"},
    {certfile, "{{ rabbitmq_tls_cert }}"},
    {keyfile,  "{{ rabbitmq_tls_private_key }}"},
    {secure_renegotiate, true},
    {verify, {{ rabbitmq_tls_verify }}},
    {fail_if_no_peer_cert, {{ rabbitmq_tls_fail_if_no_peer_cert|lower }}}
  ]},
  {client, [
    {cacertfile, "{{ rabbitmq_tls_cabundle }}"},
    {certfile, "{{ rabbitmq_tls_cert }}"},
    {keyfile,  "{{ rabbitmq_tls_private_key }}"},
    {secure_renegotiate, true},
    {verify, {{ rabbitmq_tls_verify }}},
    {fail_if_no_peer_cert, {{ rabbitmq_tls_fail_if_no_peer_cert|lower }}}
  ]}
].