{% if rabbitmq_tls_enable is sameas true %}
listeners.ssl.default = {{ rabbitmq_tls_port }}
ssl_options.cacertfile = {{ rabbitmq_tls_cabundle }}
ssl_options.certfile = {{ rabbitmq_tls_cert }}
ssl_options.keyfile = {{ rabbitmq_tls_private_key }}
ssl_options.verify = {{ rabbitmq_tls_verify }}
ssl_options.fail_if_no_peer_cert = {{ rabbitmq_tls_fail_if_no_peer_cert|lower }}
stomp.listeners.ssl.1 = 61614
{% endif %}
{% if "rabbitmq_management" in rabbitmq_plugins %}
{% if rabbitmq_tls_mgmt_nontls_localhost_only is sameas true %}
management.tcp.ip = 127.0.0.1
{% endif %}
management.ssl.port = {{ rabbitmq_tls_mgmt_ssl_port }}
{% endif %}
{% if 'ec2' == rabbitmq_clustering_type %}
cluster_formation.peer_discovery_backend = aws
cluster_formation.aws.region = {{ rabbitmq_discovery_ec2_region }}
cluster_formation.aws.access_key_id = {{ rabbitmq_discovery_ec2_access_key }}
cluster_formation.aws.secret_key = {{ rabbitmq_discovery_ec2_secret }}
{% if rabbitmq_discovery_ec2_autoscaling_group is sameas true %}
cluster_formation.aws.use_autoscaling_group = true
{% endif %}
{% if rabbitmq_discovery_ec2_tags is sameas true %}
{% for item in rabbitmq_discovery_ec2_instance_tags %}
{% for thing in item %}
cluster_formation.aws.instance_tags.{{ thing }} = {{ item[thing] }}
{#cluster_formation.aws.instance_tags.{{ item }} = {{ item.value }}#}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}